@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html {
  scroll-behavior: smooth;
}

body {
  background-color: #D4CCC2;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  padding: 30px 0 0 0;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 600px) {
  .header__row {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo-img img {
  max-width: 100%;
}

.header__logo-text {
  padding: 0px 20px 0px 20px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #2C2416;
  font-size: 30px;
  font-weight: 700;
}
.header__logo-text span {
  font-weight: 600;
  color: #C45C3E;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px 0 0 0;
}
@media (max-width: 600px) {
  .header__menu {
    margin: 5px 0 0 0;
  }
}

.header__menu-link {
  margin: 0 20px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #5C5248;
  font-size: 20px;
  font-weight: 400;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.header__menu-link:hover {
  color: #C45C3E;
}

.main {
  margin: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.kitchen__img img {
  max-width: 100%;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

.kitchen__title {
  margin: 30px 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #2C2416;
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;
}

.kitchen__subtitle {
  font-size: 17px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 150%;
  font-weight: 400;
  color: #5C5248;
  margin: 30px 0 30px 0;
}

.kitchen__button {
  display: inline-block;
  margin: 30px 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 600;
  color: #fff;
  border-radius: 10px;
  padding: 20px 35px;
  font-size: 16px;
  background-color: #C45C3E;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.kitchen__button:hover {
  background-color: #5C5248;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.kitchen__subtitle-two {
  margin: 30px 0 0 0;
  font-size: 15px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 150%;
  font-weight: 400;
  color: #5C5248;
}
.kitchen__subtitle-two a {
  color: #C45C3E;
}
.kitchen__subtitle-two a:hover {
  text-decoration: underline;
}
.kitchen__subtitle-two a:focus {
  color: #5C5248;
}

.carousel {
  position: relative;
  width: 72%;
  margin: 50px auto;
  font-family: sans-serif;
}
@media (max-width: 768px) {
  .carousel {
    width: 100%;
    margin: 20px 0;
  }
}
.carousel-viewport {
  width: 100%;
  overflow: hidden;
  border-radius: 12px;
}
@media (max-width: 768px) {
  .carousel-viewport {
    border-radius: 0;
  }
}
.carousel-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
}
@media (max-width: 768px) {
  .carousel-container {
    gap: 0;
  }
}
.carousel-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: calc((100% - 20px * 2) / 3);
  height: 250px;
}
@media (max-width: 768px) {
  .carousel-slide {
    width: 100%;
    height: 300px;
  }
}
.carousel-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
  pointer-events: none;
}
@media (max-width: 768px) {
  .carousel-slide img {
    border-radius: 0;
  }
}
.carousel .nav-btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background: white;
  border: none;
  border-radius: 50%;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.carousel .nav-btn.prev {
  left: -20px;
}
@media (max-width: 768px) {
  .carousel .nav-btn.prev {
    left: 10px;
  }
}
.carousel .nav-btn.next {
  right: -20px;
}
@media (max-width: 768px) {
  .carousel .nav-btn.next {
    right: 10px;
  }
}
.carousel .nav-btn svg {
  fill: #333;
  width: 20px;
  height: 20px;
}
.carousel-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  margin-top: 25px;
}
.carousel-pagination .dot {
  width: 10px;
  height: 10px;
  background-color: #e0e0e0;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  margin: 0 3px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.carousel-pagination .dot.active {
  background-color: #e2532b;
}

.accordion__title {
  font-size: 24px;
  margin: 20px 0;
  font-weight: 700;
  color: #2C2416;
  width: 860px;
  max-width: 100%;
}

.accordion {
  width: 865px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #2C2416;
}
@media (max-width: 900px) {
  .accordion {
    width: 100%;
  }
}
.accordion-item {
  border: 2px solid #e0e0e0;
  border-radius: 10px;
  margin: 20px 0;
  background: #fff;
  overflow: hidden;
}
.accordion-item.active .accordion-header::after {
  content: "+";
}
.accordion-item.active .accordion-content {
  max-height: 500px;
  padding: 15px;
  border-top: 1px solid #e0e0e0;
}
.accordion-header {
  padding: 20px 15px;
  font-size: 18px;
  cursor: pointer;
  font-weight: 600;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2C2416;
}
.accordion-header::after {
  content: "-";
  position: absolute;
  right: 15px;
  font-size: 24px;
}
.accordion-content {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  padding: 0 15px;
  font-size: 16px;
  line-height: 1.5;
  color: #5C5248;
  background: #F3EDE6;
}

.booking {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background: #ffffff;
  padding: 20px 10px;
  width: 860px;
  max-width: 100%;
  border-radius: 10px;
}

.booking-card {
  width: 100%;
}

.booking-title {
  font-size: 26px;
  font-weight: 600;
  color: #2C2416;
}

.booking-subtitle {
  margin: 30px 0;
  font-size: 16px;
  line-height: 20px;
  color: #5C5248;
}

.form-group {
  width: 100%;
  margin: 20px 0;
}
.form-group label {
  color: #2C2416;
}
.form-group input {
  border-radius: 10px;
  border: 1px solid #2C2416;
  margin: 10px 0;
  width: 100%;
  font-size: 14px;
  padding: 20px 10px;
  background-color: #D4CCC2;
}

.btn-submit {
  background-color: #5C6B4A;
  padding: 15px 50px;
  color: #fff;
  font-size: 18px;
  border-radius: 10px;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.btn-submit:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  background-color: #758a5b;
}

.modal {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(109, 109, 109);
  z-index: 1000;
  /* Центрирование контента */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__row {
  background-color: #fff;
  padding: 40px;
  border-radius: 15px;
  text-align: center;
  max-width: 400px;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal__title {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 20px;
}

.modal__text {
  font-size: 15px;
  margin-bottom: 25px;
  color: #555;
}

.modal__button {
  font-size: 15px;
  border-radius: 15px;
  padding: 15px 30px;
}